@using GridRunner.Interfaces

@if (block.isFixed)
{
    <div class="fixed @(isExecuting ? "executing" : "")"
         style="left:@($"{block.X}px"); top:@($"{block.Y}px");">
        <p class="block-info">@block.Description</p>
        <svg width="90" height="90" viewBox="0 0 92 92">
            <path d="
                                    M 1 1
                                    L 15 1
                                    L 30 1
                                    L 91 1
                                    L 91 75
                                    L 30 75
                                    L 15 91
                                    L 15 75
                                    L 1 75
                                    Z"
                  fill="@block.FillColor"
                  stroke="@(isExecuting ? "#4f46e5" : "#3a3a4e")"
                  stroke-width="@(isExecuting ? "3" : "2")"
                  stroke-dasharray="@(isExecuting ? "4,4" : "none")" />
        </svg>
    </div>
}
else
{
    <div class="draggable @(block.Locked ? "locked" : "") @(isExecuting ? "executing" : "")"
         style="left:@($"{block.X}px"); top:@($"{block.Y}px");"
         @onpointerdown="(e) => onPointerDown(e, block.Id)">
        <p class="block-info">@block.Description</p>
        <svg width="90" height="90" viewBox="0 0 92 92">
            <path d="
                                    M 1 1
                                    L 15 1
                                    L 15 15
                                    L 30 1
                                    L 91 1
                                    L 91 75
                                    L 30 75
                                    L 15 91
                                    L 15 75
                                    L 1 75
                                    Z"
                  fill="@block.FillColor"
                  stroke="@(isExecuting ? "#4f46e5" : "#3a3a4e")"
                  stroke-width="@(isExecuting ? "3" : "2")"
                  stroke-dasharray="@(isExecuting ? "4,4" : "none")" />
        </svg>
    </div>
}

@code {
    [Parameter]
    public required Block block { get; set; }
    [Parameter]
    public Action<PointerEventArgs, int> onPointerDown { get; set; } = null;
    [Parameter]
    public bool isExecuting { get; set; } = false;
}