@using GridRunner.Interfaces

@if (block.isFixed)
{
    <div class="fixed"
         style="left:@($"{block.X}px"); top:@($"{block.Y}px");">
        <p class="block-info">@block.Description - @block.Id</p>
        <svg width="90" height="90" viewBox="0 0 92 92">
            <path d="
                                    M 1 1
                                    L 15 1
                                    L 30 1
                                    L 91 1
                                    L 91 75
                                    L 30 75
                                    L 15 91
                                    L 15 75
                                    L 1 75
                                    Z"
                  fill="@block.FillColor"
                  stroke="#000000"
                  stroke-width="1" />
        </svg>
    </div>
}
else
{
    <div class="draggable @(block.Locked ? "locked" : "")"
         style="left:@($"{block.X}px"); top:@($"{block.Y}px");"
         @onpointerdown="(e) => onPointerDown(e, block.Id)">
        <p class="block-info">@block.Description - @block.Id</p>
        <svg width="90" height="90" viewBox="0 0 92 92">
            <path d="
                                    M 1 1
                                    L 15 1
                                    L 15 15
                                    L 30 1
                                    L 91 1
                                    L 91 75
                                    L 30 75
                                    L 15 91
                                    L 15 75
                                    L 1 75
                                    Z"
                  fill="@block.FillColor"
                  stroke="#000000"
                  stroke-width="1" />
        </svg>
    </div>
}

@code {
    [Parameter]
    public required Block block { get; set; }
    [Parameter]
    public Action<PointerEventArgs, int> onPointerDown { get; set; } = null;
}


<style>
    p{
        position:absolute;
        top: 20px;
        left: 10px
    }
    .draggable {
        position: absolute;
        cursor: grab;
        touch-action: none;
        z-index: 2;
    }

        .draggable:active {
            cursor: grabbing;
        }

        .draggable.locked {
            cursor: not-allowed;
            opacity: 0.95;
        }

    .fixed {
        position: absolute;
        pointer-events: none;
        z-index: 1;
    }
</style>